.arrows {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
  height: 63px;
  cursor: pointer;
  &:hover svg {
    animation-name: pointDown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}

@keyframes pointDown {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 42px;
  }
}
