$highlightColor: rgb(242, 222, 10);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1190px;
  margin: auto;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

section {
  // border-bottom: dashed red 1px;
  min-height: 100vh;
  width: 100%;
  padding: 5%;
  h2 {
    font-size: 28px;
    width: fit-content;
    margin: auto;
    margin-bottom: 15%;
    border-bottom: 2px solid $highlightColor;
  }
}

//HEADER

header {
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 1;
  width: 100vw;
  transition: opacity 0.3s ease-in;
  border-bottom: solid 2px $highlightColor;
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    max-width: 1190px;
    margin: auto;
    a {
      color: #000;
      text-decoration: none;
    }
    h2 {
      font-size: 26px;
      width: fit-content;
      margin: auto;
    }
  }
}

nav {
  display: none;
  .nav {
    display: inline-block;
    &:nth-of-type(n + 2) {
      margin-left: 10px;
    }
  }
}

.nav.active {
  // border-bottom: 2px solid $highlightColor;
  // border-top: 2px solid $highlightColor;
  color: $highlightColor;
}

.hideHeader {
  opacity: 0;
}

.links {
  display: flex;
  a {
    display: flex;
    align-items: center;
    &:nth-of-type(n + 2) {
      margin-left: 5px;
    }
    svg {
      fill: #000;
      height: 30px;
      width: 30px;
    }
    &:hover {
      transform: scale(0.9);
      svg {
        fill: $highlightColor;
      }
    }
  }
  .cv {
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    div {
      height: 100%;
      //   width: 30px;
      padding: 0 8px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .cvShort div {
    padding: 0 4px;
  }
  .themeButton {
    border-radius: 50%;
    background-color: $highlightColor;
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-left: 10px;
  }
}

//INTRO
.intro {
  display: flex;
  align-items: center;
  h1 {
    margin-bottom: 5px;
  }
}

//PROJECTS
.projects {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.project {
  flex: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15%;
  &:nth-of-type(2n) .projectInfo {
    // order: -1;
  }
}

.projectImage {
  display: flex;
  justify-content: center;
  // margin-bottom: 5%;
  img {
    width: 100%;
  }
  .phone {
    width: 65%;
  }
}

.projectInfo {
  text-align: center;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 5% 0;
  }
}

.projectLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

//ABOUT & CONTACT

.flexContainer {
  display: flex;
  flex-direction: column;
  p {
    text-align: center;
  }
}

.aboutImage {
  margin: auto;
  margin-bottom: 10%;
}

.contact {
  min-height: 90vh;
}

.contactText {
  margin-bottom: 10%;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#name,
#email,
#message {
  width: 100%;
  padding: 5px;
  font-family: inherit;
  // border-radius: 10px;
}

.submitButton {
  width: 170px;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  background-color: $highlightColor;
  border: none;
  border-radius: 10px;
}

// #name,
// #email {
//     margin
// }

#message {
  max-height: 500px;
}

footer {
  text-align: center;
  padding: 5%;
}

@media (min-width: 400px) {
  .intro {
    padding: 10%;
  }

  h1 {
    font-size: 36px;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 44px;
  }

  nav {
    display: block;
  }
}

@media (min-width: 800px) {
  .intro {
    padding: 15%;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 38px;
  }

  .project {
    margin-bottom: 7.5%;
    .projectInfo {
      text-align: left;
    }
    &:nth-of-type(2n) .projectInfo {
      order: -1;
      text-align: right;
    }
  }
  .projectInfo,
  .projectImage {
    width: 50%;
  }

  .flexContainer {
    flex-direction: row;
    div {
      width: 100%;
      padding: 5%;
    }
    .contactForm {
      order: -1;
      width: 100%;
    }
  }
}
