$bgColor: rgb(255, 235, 217);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  //   background-color: $bgColor;
  //   height: 100vh;
  //   overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: auto;
}

section {
  border-bottom: dashed red 1px;
  height: 100vh;
  width: 100%;
  padding: 5%;
}

header {
  position: fixed;
  z-index: 1;
  width: 100vw; //100%
  background-color: $bgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  //   border-bottom: solid 2px black;

  a {
    color: #000;
    text-decoration: none;
  }
}

.links {
  display: flex;
  a {
    display: flex;
    align-items: center;
    &:nth-of-type(n + 2) {
      margin-left: 5px;
    }
    svg {
      fill: #000;
      height: 30px;
      width: 30px;
    }
    &:hover {
      transform: scale(1.2);
      svg {
        fill: red;
      }
    }
  }
  .cv {
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    div {
      height: 100%;
      //   width: 30px;
      padding: 0 8px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .themeButton {
    border-radius: 50%;
    background-color: rgb(211, 121, 11);
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-left: 10px;
  }
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
  text-align: center;
}

//INTRO
.intro {
  display: flex;
  align-items: center;
  h1 {
    margin-bottom: 5px;
  }
}

//PROJECTS
.projectContainer {
  display: flex;
  gap: 10px;
  height: 90%;
  width: 100%;
  margin: auto;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  //   -ms-overflow-style: none; /* IE and Edge */
  //   scrollbar-width: none; /* Firefox */
  //   &::-webkit-scrollbar {
  //     display: none; /* Chrome, Safari and Opera */
  //   }
  //   position: relative;
  //   border-radius: 10px;
}

.project {
  scroll-snap-align: start;
  flex: none;
  //   height: 50%;
  width: 100%;
  //   background-color: cyan;
  //   border: 1px dashed black;
  //   text-align: center;
  //   background-color: rgba(146, 146, 146, 0.356);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iframeWrap {
  width: 40%;
  height: 70%;
  overflow: hidden;
}

iframe {
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
}

//ABOUT

//CONTACT

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#name,
#email,
#message {
  width: 100%;
  padding: 5px;
}

// #name,
// #email {
//     margin
// }

#message {
  max-height: 500px;
}
