$bgColor: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: $bgColor;
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  //   max-width: 1200px;
  //   margin: auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: $bgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  //   border-bottom: solid 2px black;

  a {
    color: #000;
    text-decoration: none;
  }
}

.links {
  display: flex;
  a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    svg {
      fill: #000;
      height: 30px;
      width: 30px;
    }
    &:hover {
      transform: scale(1.2);
      svg {
        fill: red;
      }
    }
  }
}

.body {
  padding: 10px;
}

.intro {
  padding-top: 50%;
  padding-left: 5%;
  h1 {
    font-size: 30px;
    margin-bottom: 2%;
  }
}

.iframeWrap {
  width: 90%;
  height: 500px;
  overflow: hidden;
}

iframe {
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
}
